@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;
  max-width: 1450px;
  margin: 0 auto;
  overflow-x: hidden;
}

input,
textarea {
  color: #000;
}

select option {
  color: #000;
}
